.DS_Store
MACOSX
*.zip
cpvp/data/stats/function/memo.txt
cpvp/data/system/function/saya.mcfunction
cpvp/data/items/advancement/test.json
cpvp/data/test
cpvp/data/items/tmp
cpvp/data/items/function/skills/tick.txt
